<p id="notice"><%= notice %></p>

<%= image_tag @picture.image.url, width: '200px' %>

<ul>
  <% Picture.all.each do |p| %>
      <% result = @picture.match(p) %>
      <li>Podobnosť s <%= link_to "obrázkom s id  #{p.id}", p %> je <%= result[:cnt] %> bodov, <%= (result[:perc] * 100).round(2) %>%</li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
