<!DOCTYPE html>
<html>
<head>
  <title>SURF Picture Similarity Retrieval</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui raised segment container" style="min-height: 700px;">
  <div class="ui row segment">
    <h1>
      SURF Picture Similarity Retrieval
      <%= link_to root_path, class: 'pop_up', title: 'Home' do %>
          <i class="ui home link icon"></i>
      <% end %><%= link_to pictures_path, class: 'pop_up item', title: 'Uploaded pictures list' do %>
          <i class="list link icon"></i>
      <% end %>
    </h1>
  </div>
  <div class="ui wide ordered top attached steps">
    <div class="<%= actual(1) %> step">
      <div class="content">
        <div class="title">Upload file</div>
        <div class="description">Choose your picture</div>
      </div>
    </div>
    <div class="<%= actual(2) %> step">
      <div class="content">
        <div class="title">Options</div>
        <div class="description">Similarity type and thresholds</div>
      </div>
    </div>
    <div class="<%= actual(3) %> step">
      <div class="content">
        <div class="title">Result</div>
        <div class="description">View the most similar picures</div>
      </div>
    </div>
  </div>
  <div class="ui attached segment">
    <%= yield %>
  </div>
</div>

</body>
</html>
